html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* TEXT */

.wot {
  margin: 0 auto;
  width: 640px;
}

.wot-img {
  width: 640px;
}

.wot-description {
  font-size: 12px;
  line-height: 18px;
}

.wot-links {
  margin-top: 40px;
  font-size: 12px;
  line-height: 17px;
  color: #0a0a54;
}

article span {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
}

article {
  margin: 80px 0px;
}

/* FORM */

.form {
  padding: 120px;
  background-color: black;
  color: white;
  margin-top: 120px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 8px;
}

.textarea {
  width: 300px;
  height: 100px;
  resize: none;
}

.input {
  width: 300px;
  height: 44px;
}

.button-link a {
  color: white;
}
.form-content {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.button input[type="submit"] {
  margin-top: 48px;
  background-color: black;
  border: none;
  padding: 8px 32px;
  border-radius: 100px;
  font-size: 16px;
  color: white;
  border: 1px solid white;
}

.description {
  position: relative;
}
