@use "_2breakpoints" as *;
@use "_3skeleton" as *;
@use "_4typography" as *;
@use "_5iconography" as *;
@use "_6colors" as *;

// TAGS
.tag-01 {
  border: 1.5px solid #67686a;
  color: #67686a;
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 100px;
}

.tag-02 {
  border: 1.5px solid #ffff;
  color: white;
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 100px;
}

.tag-03 {
  color: $neutral-color01;
  font-size: 18px;
  border-radius: 100px;
}

.tag-04 {
  color: $neutral-color01;
  font-size: 18px;
  border-radius: 100px;
}

.tag-05 {
  border: 1.5px solid $main-color;
  color: $main-color;
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 100px;
}

// BUTTONS

.cta-01 {
  width: fit-content;
  background-color: $main-color;
  color: $neutral-color03;
  padding: 16px 24px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 18px;
}

.cta-02 {
  background-color: transparent;
  color: $main-color;
  border: 1px solid $main-color;
  width: fit-content;
  padding: 16px 24px;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 18px;
  gap: 18px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.cta-03 {
  width: fit-content;
  background-color: $main-color;
  color: $neutral-color03;
  padding: 16px 24px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 18px;
  border-radius: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 18px;
}

.cta-04 {
  background-color: transparent;
  color: $neutral-color03;
  border: 1px solid $neutral-color03;
  width: fit-content;
  padding: 16px 24px;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 18px;
  gap: 18px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
